:root {
  --graphite: #303236ff;
  --grey-olive: #80898dff;
  --pale-slate: #cccad9ff;
  --lavender-grey: #a4a4b2ff;
  --rosy-granite: #918695ff;
  --dusty-olive: #7E9181;
  --deep-purple: #2c2c8f;
  --deep-purple-hover: #3C3CC3;
  --deep-purple-active: #1C1C5A;
  --deep-purple-disabled: #5E5589;
  --rounded-corners: 12px;
}

html {
  background-color: var(--lavender-grey);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Courier New', monospace;
}

button {
  background-color: var(--deep-purple);
  color: var(--pale-slate);
  border: 3px solid var(--graphite);
  border-radius: var(--rounded-corners);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--deep-purple-hover);
    border: 3px solid var(--graphite);
  }

  &:active {
    background-color: var(--deep-purple-active);
    border: 3px solid var(--graphite);
  }

  &:disabled {
    background-color: var(--deep-purple-disabled);
    border: 3px solid var(--graphite);
    cursor: not-allowed;
  }

  &.selected {
    background-color: var(--dusty-olive);
    border: 3px solid var(--graphite);
  }
}

#title {
  height: 7vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
  width: 90vw;
  gap: 12px;

  >button {
    width: 100%;
    height: 100px;
    padding: 10px;
  }
}

#random-question-page {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 86vh;
  color: var(--graphite);

  #question-text {
    height: 46vh;
    max-height: 45vh;
    overflow-y: auto;
  }
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  height: auto;
  max-height: 30vh;
  overflow-y: auto;
  height: 30vh;
  width: 100%;

  >div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;

    label {
      margin-left: 8px;
      text-align: end;
    }

    input {
      margin-bottom: 5px;
    }
  }
}

.buttons-container {
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 8px;
  height: 10vh;
  width: 100%;

  >button {
    width: 100%;
    height: 60px;
  }
}

.q-op>* {
  cursor: pointer;
}

.q-op-correct {
  background-color: var(--dusty-olive);
}

.q-op-incorrect {
  background-color: var(--rosy-granite);
}

#themes-question-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90vw;
  height: 86vh;

  #themes-container {
    width: 100%;
    height: 77vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    #themes-list {
      max-height: 55vh;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: start;
      align-items: start;
      align-content: start;
      flex-direction: row-reverse;
      margin-bottom: 6px;
      padding: 2px;
    }
  }
}

.theme-item {
  background-color: var(--deep-purple);
  color: var(--pale-slate);
  border: 3px solid var(--graphite);
  border-radius: var(--rounded-corners);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    background-color: var(--deep-purple-hover);
    border: 3px solid var(--graphite);
  }

  &.selected {
    background-color: var(--dusty-olive);
    border: 3px solid var(--graphite);
  }
}

#q-count {
  margin-bottom: 6px;
}

#test-page {
  display: none;
}

#another-rnd-question-btn {
  display: none;
}

#themes-answering-page {
  display: none;
}

#finish-answering-btn {
  display: none;
}

#change-answer-btn {
  display: none;
}

#questions-answering-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 86vh;

  & #question-container {
    height: 56vh;
    max-height: 56vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vh;

    & #a-question-text {
      margin-top: 2vh;
    }
  }
}

#results-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 86vh;
}

& .question-navigation {
  width: 100%;
  max-height: 20vh;
  border: 1px solid var(--graphite);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: var(--rounded-corners);
  flex-wrap: wrap;
  overflow-y: auto;

  & .question-navigation-item {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: var(--pale-slate);
    min-width: 18px;
    background-color: var(--deep-purple);
    padding: 3px;
    border-radius: var(--rounded-corners);
    border: 2px solid var(--graphite);

    &.correct {
      background-color: var(--dusty-olive);
    }

    &.incorrect {
      background-color: var(--deep-purple-disabled);
    }

    &.answered {
      background-color: var(--dusty-olive);
    }

    &.selected {
      background-color: var(--deep-purple-active);
    }
  }
}