name: Deploy Backend
run-name: Deploy Backend
description: |
  Will deploy the backend to the environment.

on:
  workflow_dispatch:
    inputs:
      environment:
        description: The environment to deploy the backend to
        required: true
        type: choice
        options:
          - dev
          - prod

permissions: read-all

jobs:
  deploy-backend:
    environment: ${{ inputs.environment }}
    runs-on: self-hosted
    container: 
      image: ${{ vars.WORKFLOW_IMAGE_REPO }}:latest
      volumes:
        - /home/agent/.aws:/github/home/.aws
        - /root/.cache/go-build:/root/.cache/go-build
        - /go/pkg/mod:/go/pkg/mod

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            backend

      - name: Build backend
        shell: bash
        run: |
          cd backend
          make build
      
      - name: Deploy backend
        shell: bash
        run: |
          cd backend
          make deploy
