name: Deploy Backend
run-name: Deploy Backend
description: Will deploy the backend to the environment.

on:
  workflow_dispatch:
    inputs:
      environment:
        description: The environment to deploy the backend to
        required: true
        type: choice
        options:
          - dev
          - prod

permissions: read-all

jobs:
  deploy-backend:
    environment: ${{ inputs.environment }}
    runs-on: self-hosted

    steps:
      - name: Determine type
        id: determine_type
        shell: bash
        env:
          ENVIRONMENT: ${{ inputs.environment }}
        run: |
          TYPE="unknown"
          if [[ "${{ env.ENVIRONMENT }}" == "prod" ]]; then
              TYPE="latest"
              SERVER_ADDRESS="q-backend.petersonv.click"
          elif [[ "${{ github.ref_name }}" == "develop" && "${{ env.ENVIRONMENT }}" == "dev" ]]; then
              TYPE="experimental"
              SERVER_ADDRESS="q-backend.dev.petersonv.click"
          else
              echo "ERROR: Invalid environment: ${{ env.ENVIRONMENT }}"
              exit 1
          fi
          echo "TYPE=$TYPE" >> $GITHUB_OUTPUT
          echo "SERVER_ADDRESS=$SERVER_ADDRESS" >> $GITHUB_OUTPUT

      - name: Setup SSH Key
        shell: bash
        env:
          SSH_KEY: ${{ secrets.BACKEND_SERVICE_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          
      - name: Deploy Backend
        shell: bash
        env:
          SERVER_ADDRESS: ${{ steps.determine_type.outputs.SERVER_ADDRESS }}
          USER: q-user
          ENV: ${{ inputs.environment }}
        run: |
          ssh -i ~/.ssh/id_ed25519 \
            -o StrictHostKeyChecking=no \
            -o UserKnownHostsFile=/dev/null \
            -o SendEnv=ENV \
            $USER@$SERVER_ADDRESS \
            'bash -s' <<'EOF'
            echo inside the ssh session

            # Ensure ENV is set (imported from ssh client)
            : "${ENV:?ENV variable not set on remote host}"

            GITHUB_TOKEN=$(aws ssm get-parameter \
              --name "q-github-token-${ENV}" \
              --query "Parameter.Value" \
              --output text 2>/dev/null)
            test -n "$GITHUB_TOKEN" || {
              echo "GITHUB_TOKEN not found. Aborting."
              exit 1
            }

            systemctl stop q-webserver-${ENV}
            mv /q/webserver /q/webserver.old
            gh release download latest \
              -R petersonvcode/questionnaire \
              -p webserver \
              -O /q/webserver \
              --token "$GITHUB_TOKEN"
            chmod +x /q/webserver
            systemctl start q-webserver-${ENV}
            rm -f /q/webserver.old
          EOF