name: Publish Workflow Image
run-name: Publish Workflow Image
description: |
  Will build the docker image at tools/base-workflow-image and push it to the repository.
  This image is used to run the other workflows.

on:
  workflow_dispatch:
    # The workflow should be triggered manually.
    inputs:
      environment:
        description: The environment to publish the workflow image to
        required: true
        type: choice
        options:
          - dev
          - prod

permissions: read-all

jobs:
  publish-workflow-image:
    environment: ${{ inputs.environment }}
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            tools/base-workflow-image
            backend
            frontend

      - name: Build docker image
        shell: bash
        run: |
          cd tools/base-workflow-image
          ./build.sh ${{ inputs.environment }}

      - name: Push docker image
        shell: bash
        env:
          IMAGE_TAG: q-workflows-${{ inputs.environment }}
          REPO: ${{ vars.WORKFLOW_IMAGE_REPO }}
        run: |
          docker tag "$IMAGE_TAG:latest" "$REPO:latest"
          docker push "$REPO:latest"