name: Publish Workflow Image
run-name: Publish Workflow Image
description: |
  Will build the docker image at tools/base-workflow-image and push it to the repository.
  This image is used to run the other workflows.

on:
  workflow_dispatch:
    # The workflow should be triggered manually.

jobs:
  publish-workflow-image:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            tools/base-workflow-image
            backend
            frontend

      - name: Get versions
        shell: bash
        run: |
          go_version=$(grep go backend/go.mod | head -1 | cut -d' ' -f2)
          echo "Go version: $go_version"
          test -n "$go_version" || {
            echo "Go version not found. Aborting.";
            exit 1;
          }
          echo "go_version=$go_version" >> $GITHUB_OUTPUT

          node_version=$(cat frontend/.nvmrc | tr -d 'vV')
          echo "Node version: $node_version"
          test -n "$node_version" || {
            echo "Node version not found. Aborting.";
            exit 1;
          }
          echo "node_version=$node_version" >> $GITHUB_OUTPUT

          pnpm_version=$(cat frontend/package.json | jq -r '.packageManager' | cut -d'@' -f2)
          echo "Pnpm version: $pnpm_version"
          test -n "$pnpm_version" || {
            echo "Pnpm version not found. Aborting.";
            exit 1;
          }
          echo "pnpm_version=$pnpm_version" >> $GITHUB_OUTPUT

      - name: Build docker image
        shell: bash
        run: |
          cd tools/base-workflow-image
          docker build -t test .